################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClimateMonitor/obj
/ClimateMonitor.Test/bin
/ClimateMonitor.Test/obj
